<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <main class="wrap">
    <a class="link" href="/">← Return Home</a>

    <section class="card">
        <h2 class="h2">Submit a Project</h2>
        <form action="/create-project" method="post" class="form">
          <label class="label" for="message">Title:</label>
          <textarea
            id="title"
            name="title"
            class="textarea"
            maxlength="280"
            placeholder="Student Service Project"
            required
          ></textarea>
          <label class="label" for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            class="textarea"
            placeholder="What's your project about?"
            required
          ></textarea>
          <label class="label" for="email">Email:</label>
          <input
            id="email"
            name="email"
            class="textarea"
            maxlength="280"
            placeholder="Student Name (StudentName@westridge.org)"
            required
          ></input>
          <label class="label" for="topic">Topic:</label>
          <input
            id="topic"
            name="topic"
            class="textarea"
            maxlength="280"
            placeholder="UN Sustainability Goals Met"
            required
          ></input>
           <input 
            type="radio"
            id="CAP"
            name="type"
            value="CAP"
       
          ></input><label for="CAP">CAP</label><br>
          <input 
            type="radio"
            id="CTS"
            name="type"
            value="CTS"
          ></input><label for="CTS">CTS</label><br>
          <div class="form__row">
            <button class="btn btn--primary" type="submit">Post it</button>
          </div>
          <p>//Secondary Verification required, needs admin review before posting</p>
        </form>
      </section>
  </main>
</body>
</html>
